.modal-dialog.ratings-content{ data: { "course-id": "#{@course.id}" }}
  .modal-content
    .modal-header
      %h3= @teacher.name
    .modal-body
      %p.text-muted= "School Graduated: " + @teacher.school_graduated
      %p.text-muted= "Gender: " + @teacher.gender
      %p= @teacher.major_accomplishments

      .rating-form
        = render "rating_form", teacher: @teacher, course: @course

      .user-ratings
        = render "user_ratings", ratings: @ratings
    .modal-footer
      %button.btn.btn-secondary.cancel{"data-dismiss" => "modal", :type => "button"} Cancel

:javascript
  $(function(){
    App.Teacher.initEvents();
  })
