.row
  .col-lg-4
    %h5.text-muted Available Instructors

    %ul.list-group.mb-3
      - @course.teachers.each do |teacher|
        %li.list-group-item.d-flex.lh-condensed
          %img.pr-2.float-left{ src: "http://via.placeholder.com/70x70" }

          %div
            %h6.my-0
              = link_to_modal teacher.name, [@course, teacher]
            - if teacher.average_rating.zero?
              %small.text-danger No ratings yet
            - else
              %span.text-warning
                - teacher.average_rating.times do
                  %span.text-warning ★
                - teacher.average_remaining_rating.times do
                  %span.text-warning ☆
            %br
            %small.text-muted= teacher.school_graduated
            %small.text-muted= teacher.gender
  .col-lg-8
    .card.mt-4
      .card-body
        %h3.card-title= @course.name
        %p.card-text= @course.description.html_safe
        %p.card-text= "Room: #{@course.room}"
    .card.card-outline-secondary.my-4
      .card-header
        Reviews for Instructors:
      .card-body
        - if @ratings.any?
          - @ratings.each do |rating|
            %p
              = rating.comment

              - rating.rating.times do
                %span.text-warning ★
              - rating.remaining_rating.times do
                %span.text-warning ☆

            %small.text-muted= "Posted by #{rating.user.email} (#{distance_of_time_in_words(rating.created_at, Time.zone.now)} ago)"
            %hr/
        - else
          %p No Reviews yet.
