%header
  #navbarHeader.bg-dark.collapse{:style => ""}
    .container
      .row
        .col-sm-8.col-md-7.py-4
          %h4.text-white Edukasyon Classes
          %p.text-muted List of all available classes around the Campus. Search any course and see available professors/instructors and their reviews and ratings.
        .col-sm-4.offset-md-1.py-4
          %h4.text-white Contact
          %ul.list-unstyled
            %li
              %span.text-white Email: cpobre.peg@gmail.com
            %li
              = link_to "Linkedin", "https://www.linkedin.com/in/charles-pobre/", class: "text-white"
            %li
              = link_to "Github", "https://github.com/chabzlala29", class: "text-white"
            %li
              = link_to "Portfolio", "https://chabzlala29.github.io/online-cv/", class: "text-white"
  .navbar.navbar-dark.bg-dark.box-shadow
    .container.d-flex.justify-content-between
      = link_to :courses, class: "navbar-brand d-flex align-items-center mr-auto" do
        = logo_tag height: "50", class: "my-0"
      - if is_admin_page?
        %small.mr-3.mt-2.text-light Admin Page
        = link_to "Teachers", [:admin, :teachers], class: "btn btn-sm btn-light mr-2 #{'active' if params[:controller].match(/teachers/)}"
        = link_to "Courses", [:admin, :courses], class: "btn btn-sm btn-light mr-2 #{'active' if params[:controller].match(/courses/)}"
      - else
        - if current_user.admin?
          = link_to "Go to Admin", [:admin, :courses], class: "btn btn-sm btn-light mr-2"
        = render "layouts/search_form"
      = link_to "Logout", destroy_user_session_path, class: "btn btn-sm btn-danger mr-2", method: :delete
      %button.navbar-toggler.collapsed{"aria-controls" => "navbarHeader", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarHeader", "data-toggle" => "collapse", :type => "button"}
        %span.navbar-toggler-icon
